@import "../../assets/global.module.scss";

.calendarCard {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: -1000;

  .innerCard {
    margin-top: $globalMargin;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
